<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <div>Entries count: {{posts.length}}</div>
        </div>

        <div *ngFor="let post of posts">
            <h3>{{post.title}}</h3> <h5>{{post.created}}</h5>
            <p>{{post.content}}</p>
            <div>
                <button class="btn btn-warning" (click)="editPost(post.id)">Edit</button>
                <button class="btn btn-danger" (click)="removePost(post.id)">Remove</button>
            </div>
            <hr />
        </div>
    </div>
</div>