<div class="row">
    <div class="col-md-12">
        <section *ngFor="let post of posts" class="tile">
            <div class="tile-header dvd dvd-btm">
                <h3>{{post.title}}</h3> <h5>{{post.created | date}}</h5>
            </div>
            <div class="tile-body">
                {{post.content}}
            </div>
            <div class="tile-footer dvd dvd-top">
                <button class="btn btn-default" (click)="editPost(post.id)">Edit</button>
                <button class="btn btn-default" (click)="removePost(post.id)">Remove</button>
            </div>
        </section>
    </div>
</div>