<div *ngFor="let task of tasks" class="list-item">
    <span>
        <i class="fa fa-check-square-o" *ngIf="task.isFinished"></i>
        <i class="fa fa-square-o" *ngIf="!task.isFinished"></i>
    </span>
    <span>{{task.title}}</span>
    <div class="pull-right">
        <button type="button" class="btn btn-default" (click)="editTask(task)">Edit</button>
        <button type="button" *ngIf="!task.isFinished" class="btn btn-default" (click)="finishTask(task.id)">Finish</button>
    </div>
</div>