<div class="panel panel-primary">
    <div class="panel-heading">
        Add / edit task
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">Title</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="title" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">Deadline</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="deadline"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">Priority</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="priority"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" (click)="add()">Add</button>
            </div>
        </div>
    </div>
</div>