<div class="page">
    <div class="pageheader">
        <h2>Todo page</h2>
    </div>

    <div class="row">
        <div class="col-md-6">
            <section class="tile">
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font">
                        Todo
                    </h1>
                </div>

                <div>
                    <nn-display-options [options]="displayOptions" (optionsChanged)="onOptionsChanged($event)"></nn-display-options>
                </div>

                <div class="tile-body dvd dvd-btm">

                    <div *ngIf="displayOptions.overdueTasksVisible">
                        <nn-task-list [title]="'Overdue'" [(tasks)]="overdueTasks" (editTaskClicked)="onEditTask($event)"></nn-task-list>
                        <hr class="line-full"/>
                    </div>

                    <nn-task-list [title]="'Today'" [(tasks)]="todayTasks" (editTaskClicked)="onEditTask($event)"></nn-task-list>
                    <hr class="line-full" />

                    <nn-task-list [title]="'Tomorrow'" [(tasks)]="tomorrowTasks" (editTaskClicked)="onEditTask($event)"></nn-task-list>
                    <hr class="line-full" />

                    <nn-task-list [title]="'Further'" [(tasks)]="furtherTasks" (editTaskClicked)="onEditTask($event)"></nn-task-list>
                    <hr class="line-full" />
                </div>
            </section>
        </div>

        <div class="col-md-6">
            <nn-edit-task [(task)]="editedTask"></nn-edit-task>
        </div>
    </div>
    
   <!-- <div class="row">
        <div class="col-md-6">
            <nn-avatar></nn-avatar>
        </div>
    </div>-->
</div>
