<div class="page">
    <div class="pageheader">
        <h2>Avatar</h2>
    </div>

    <div class="row">
        <div class="col-md-6">
            <section class="tile">
                <div class="tile-header dvd dvd-btm">
                    <h3>{{avatar.name}}</h3>
                </div>
                <div class="tile-body">
                    <h3>XP: {{avatar.xp}}</h3>
                    <h3>Level: {{avatar.level}}</h3>
                </div>
            </section>
        </div>
    </div>
</div>
